<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xoc_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,220},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,220},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,0},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,220},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,0},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,660},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,440},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,440},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,0},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,660},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
		<key>xoc_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,440},{220,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,220}}</string>
			<key>sourceSize</key>
			<string>{220,220}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{660,880}</string>
		<key>textureFileName</key>
		<string>xoc.png</string>
	</dict>
</dict>
</plist>
